body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1, .mission{
    color: #FDF6FA;
    font-size: 18px;
    position: absolute;
    top: 70px;
    left: 15px;
    text-shadow:  1px 1px 0 black;
    font-weight: 600;
}

h1 {
    font-size: 39px;
    position: absolute;
    top: 20px;
    left: 10px;
}

hr {
    border-top: 1px solid black;
    border-bottom: none;
    margin-top: 15px;
}

/* Header */

.container {
    margin: 0 auto;
    width: 600px;
    position: relative;
}

.header-container{
    height: 167px;
    background-image: url(./images/header.jpg);
    background-position: bottom;
    opacity: 85%;
}

.products-container {
    /* border: 1px solid black; */
    height: 140px;
    margin: 40px auto 30px auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #D2D2D2;
}

/* Products */

.product-emoji {
    font-size: 78.72px;
    opacity: 85%;
    margin-top: 0;
}

.product-name {
    margin: 15px 0 5px 0;
    font-size: 25px;
    color: black;
    font-weight: 400;
}

.product-ingredients {
font-size: 16px;
color: #8B8B8B;
margin-top: 0px;
font-weight: 300;
}

.price {
    font-size: 20px;
    font-weight: 400;
}

.add-btn {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
    border: 1.5px solid #DEDEDE;
    outline: none;
    cursor: pointer;
}

.add-btn:hover {
    border-color: black;
}

/* Order */

.hidden {
    display: none;
}

.order-line{
    display: flex;
    justify-content: space-between;
    flex-direction: columm;
    margin: 0px auto;
}

.order-title {
text-align: center;
font-size: 28px;
font-weight: 600;
}

.order-items{
    font-size: 20px;
    font-weight: 400;
    display: flex;
     align-items: center;
     margin: 0px auto 7px auto;
}

.remove-btn {
    font-size: 12px;
    color: #BBBBBB;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin: 0px 250px 7px 0px;
}

.order-price{
    margin: 0px 0px 7px auto;
}

/* Total Price */

.total-section {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.order-btn{
    height: 60px;
    background-color: #16DB99;
    color: #fff;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    margin-left: 46px;
    cursor: pointer;
}

.order-btn:active{
    border: 2px solid grey;
    color: grey;
}

/* Payment Modal */

.payment-modal {
    display:none;
    width: 450px;
    height: 450px;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    mix-blend-mode: passthrough;
}

.modal-close-btn{
    margin-right: -428px;
    background-color: black;
    color: #fff;
    border: none;
}

.modal-close-btn:hover{
    color: red;
}

.modal-inner h2 {
    color: black;
    margin: 30px auto 15px auto;
    font-size: 25px;
}

.modal-inner {
    width: 400px;
    margin: 0px auto;
}

form {
    display: flex;
    flex-direction: column;
}

input,
.pay-btn {
    width: 350px;
    height: 50px;
    margin: 20px auto 0px auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #757575;
}

.pay-btn{
    margin-top: 20px;
    width: 357px;
    background-color: #16DB99;
    color: #fff;
    border: none;
}

.pay-btn:hover {
    color: #757575;
    border: 1px solid #757575;
}

.final-box{
    background-color: grey;
}

.message{
text-align: center;
background-color: #ECFDF5;
color: #065F46;
margin: 0px auto;
padding: 40px 0px 40px 0px;
border-radius: 5px;
font-size: 20px;
}

.width,
hr,
.order-line,
.products-container,
.order-btn,
.total-section,
.message{
    width: 508px;
}
