body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1, .mission{
    color: #FDF6FA;
    font-size: 18px;
    position: absolute;
    top: 70px;
    left: 15px;
    text-shadow:  1px 1px 0 black;
    font-weight: 600;
}

h1 {
    font-size: 39px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.container {
    margin: 0px auto;
    width: 600px;
    position: relative;
}

.header-container{
    height: 167px;
    background-image: url(/images/header.jpg);
    background-position: bottom;
    opacity: 85%;
}

.products-container {
    /* border: 1px solid black; */
    width: 508px;
    height: 140px;
    margin: 40px auto 30px auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #D2D2D2;
}

/* Products */

.product-emoji {
    font-size: 78.72px;
    opacity: 85%;
    margin-top: 0;
}

.product-name {
    margin: 15px 0px 5px 0px;
    font-size: 25px;
    color: black;
    font-weight: 400;

}

.product-ingredients {
font-size: 16px;
color: #8B8B8B;
margin-top: 0px;
font-weight: 300;
}

.price {
    font-size: 20px;
    font-weight: 400;
}

.add-btn {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
    border: 1.5px solid #DEDEDE;
    outline: none;
}

.add-btn:hover {
    border-color: black;
}

/* Order */
.order-container{
    display: flex;
    justify-content: space-between;
    flex-direction: columm;
    margin: 0px auto;
    width: 508px;
}

.order-title {
text-align: center;
font-size: 28px;
font-weight: 600;
}

.order-items{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    margin-bottom: 5px;
}

.remove-btn {
    font-size: 12px;
    color: #BBBBBB;
    margin-bottom: 5px;
    margin-right: 260px;
    margin-top: 25px;

}

.order-price{
    margin-bottom: 5px;
    
}



